#LoginWidgetApp .usb-notification .icon svg {
    position: static;
    width:20px;
}

#LoginWidgetApp .usb-notification .icon {
margin-right: 0.75rem !important;
}

#ReactLoginWidgetApp .usb-button.button--secondary {
color: #0a41c5 !important;
}
#ReactLoginWidgetApp .usb-button.button--secondary:hover {
color: #fff !important;
}

#ReactLoginWidgetApp #otp-button-group button#otp-cancl-button {
color: #0a41c5 !important;
float:unset !important;
}

#ReactLoginWidgetApp #otp-button-group button{
width:100%;
outline-offset: 0.25rem;
}

#ReactLoginWidgetApp .form-control__radio .input__container input[type=radio]:before{
height: 1.75rem !important;
width: 1.75rem !important;
}
#ReactLoginWidgetApp .form-control__radio .input__container input[type=radio]:after{
left: 0.8rem !important;
top: 0.8rem !important;
height: 1.25rem !important;
width: 1.25rem !important;
}
#ReactLoginWidgetApp #otp-button-group button.usb-button.button--text {
color: #0a41c5 !important;
}

#ReactLoginWidgetApp .spinner {
width: 100%;
}

.form-control__input.show-hide button:focus {
padding: 1rem 0.5rem; 
margin: 0; 
} 
.global-nav .login-widget-container .form-control__input.show-hide button {
top: 0.5rem ;
}

#ReactLoginWidgetApp .form-control__input .warning-icon{
margin: 0 0.25rem 0;
}

#ReactLoginWidgetApp .form-control__input .error-text__container .error-text__error{
margin: 5px 0;
}

#ReactLoginWidgetApp .usb-button-group .usb-button.button--default {
margin: 1.25rem 0 0;
}

.reset-pwd-page .usb-button-group{
padding : 1rem 0px;
}

.reset-pwd-page .validation-text{
padding-left: 5px;
}

.reset-pwd-page .pwd-cancel {
color: #0a41c5!important;
}
.reset-pwd-page .pwd-cancel:hover {
color: #fff !important;
}
.aw-usb-authenticate.reset-pwd-page {
padding: 1.125rem;
}

.reset-pwd-page .pwd-cancel, .reset-pwd-page .pwd-continue {
margin: 0 !important;
}
.shield-content #ReactLoginWidgetApp h2 {
font-size: 20px !important;
padding-bottom: 12px !important;
}


#ReactLoginWidgetApp button#information-banner--close-btn {
    outline-offset: 0 !important;
}

 

#ReactLoginWidgetApp .form-control__input.show-hide button:focus, .form-control__input.show-hide button:hover{
   border: 1px solid #0a41c5 !important;
}

 

#ReactLoginWidgetApp #login-button-continue{
     outline-offset: 0.25rem !important; 
}

 

#ReactLoginWidgetApp #top-error-msg .error .single-notification--text .usb-link {
     font-size: 1.25rem !important;
     color: #0a41c5;
}
@font-face {
    font-family: "U.S. Bank Circular Regular";
    src: url("https://content.usbank.com/content/dam/onlinebanking/common/static/fonts/U.S.BankCircularWeb-Regular.woff2")
        format("woff2"),
      url("https://content.usbank.com/content/dam/onlinebanking/common/static/fonts/U.S.BankCircularWeb-Regular.woff")
        format("woff");
  }
@font-face {
    font-family: "U.S. Bank Circular Medium";
    src: url("https://content.usbank.com/content/dam/onlinebanking/common/static/fonts/U.S.BankCircularWeb-Medium.woff2")
        format("woff2"),
        url("https://content.usbank.com/content/dam/onlinebanking/common/static/fonts/U.S.BankCircularWeb-Medium.woff")
        format("woff");
}
#browser_error_txt{
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.12);
    width: 50%;
    margin: 0 auto;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.safa-content{
    
    background-color: #fff;
    padding: 1rem 2.5rem 1rem 1rem;
    border-radius: 0.25rem 0.25rem 0 0;
    position: relative;
    outline-offset: -1px;
    color: #2E2E32;
    font-family: 'U.S. Bank Circular Regular';
    letter-spacing: 0em;
    text-align: left

}
.safa-content h1 {
    font-size: 1.25em;
    font-family: 'U.S. Bank Circular Medium';
    font-weight: 500 !important;
}
.safa-visible{
    display: block;
}
.safa-hidden{
    display: none;
}
.safari-flex-inline{
    display: flex;
    align-items: center;
}
.safa-info{
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    align-self: center;
}
.safa-close{
    position: absolute !important;
    padding: 7px 3px !important;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
    height: 2rem !important;
    min-height: 0;
    min-width: 0;
    width: 2rem;
    background: transparent;
    border: transparent;
}
.safa-close:focus{
    outline: none;
}
.safa-footer{
    border-radius: 0 0 0.25rem 0.25rem;
    padding: 1rem;
    flex-flow: row-reverse;
    background-color: #F5F5FA;
}
.safa-button{
    min-height: 2.5rem;
    max-height: 2.5rem;
    line-height: 0.5 !important;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    font-family: 'U.S. Bank Circular Medium' !important;
    font-size: 1rem;
    font-weight: 500;
    height: 40px;
    line-height: 1;
    outline: transparent;
    position: relative;
    transition: color .1s ease,border .1s ease;
    white-space: nowrap;
}
.safa-prime{
    background: linear-gradient(-180deg,#0a41c5,#0a41c5);
    border-color: transparent;
    border-width: 0;
    border-radius: 0.25rem !important;
    color: #fff;
    margin-left: 12px;
}
.safa-sec{
    background: transparent;
    border-width: 1px !important;
    border-color: #0a41c5 !important;
    border-radius: 0.25rem !important;
    color: #0a41c5 !important;
    font-weight: 500;
    line-height: 1;
    transition: margin .1s ease;
}
.safa-button:focus:before, .safa-close:focus:before {
    border: 2px solid #0a41c5;
    border-radius: 0.25rem;
    content: "";
    height: calc(100% + 0.75rem);
    position: absolute;
    left: -0.5rem;
    top: -0.5rem;
    width: calc(100% + 0.75rem);
}
.safa-sec:hover{
    background: linear-gradient(-180deg,#0a41c5,#0c2074);
    border: 1px solid #0a41c5;
    color: #fff !important;
}
.safa-prime:hover{
    background: linear-gradient(-180deg,#0a41c5,#0c2074);
    color: #fff;
}
.safa-close:focus:before {
    left: -0.5rem;
    top: -0.5rem;
}
.safa-body-text{
    color: #555555;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-top: 10px !important;
}
.safa-heading{
    color: #2E2E32;
    font-size: 1.25rem;
    line-height: 30px;
}
.safa-overlay{
    height: 100%;
    background: rgba(0,0,0,.6);
    transition: background-color 1s ease;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    left: 0;
}
#reset-password-page .usb--wrapper button.show-hide__button {
    position: absolute;
    max-width: 20%;
}

/*GHP Banner*/
.ghp-login-banner .aw-usb-authenticate{
    padding: 32px 32px 10px 0;
}

.ghp-login-banner #aw-personal-id,
.ghp-login-banner #aw-password{
    margin:0;
}

.shield-content .ghp-login-banner #ReactLoginWidgetApp h2{
    padding-bottom: 20px !important;
    margin: 0;
    font-size: .875rem !important;
    letter-spacing: .06em;
    line-height: 1.5;
    text-transform: uppercase;
    display: block;
    color: #66666a;
    font-weight: 600;
}


.ghp-login-banner #ReactLoginWidgetApp #login-button-continue{
     margin: 28px 0 20px !important;
}

.ghp-login-banner .aw-usb-loginWidget .cncBankingLink, 
.ghp-login-banner .aw-usb-loginWidget .loginHelp{
    white-space: nowrap;
}

.ghp-login-banner .aw-usb-loginWidget .arrow svg{
    width: 1rem;
    height: 1rem;
}

.ghp-login-banner .aw-usb-loginWidget .cncBankingLink, 
.ghp-login-banner .aw-usb-loginWidget .loginHelp,
.ghp-login-banner span.usb-link.subtle{
    margin:0 0 12px ;
    font-size: 12px !important;
    line-height: 20px;
}
@media (min-width: 1056px) and (max-width: 1170px) {
    .shield-content .ghp-login-banner #ReactLoginWidgetApp h2{
        padding-bottom: 8px !important;
    }


    .ghp-login-banner #ReactLoginWidgetApp #login-button-continue{
         margin: 16px 0 16px !important;
    }

    .ghp-login-banner .aw-usb-loginWidget .cncBankingLink, 
    .ghp-login-banner .aw-usb-loginWidget .loginHelp{
        white-space: pre-wrap;
        max-width: 96%;
    }

    .ghp-login-banner .aw-usb-loginWidget .cncBankingLink, 
    .ghp-login-banner .aw-usb-loginWidget .loginHelp,
    .ghp-login-banner span.usb-link.subtle{
        margin: 8px 0 12px;
    }

    .or-button {
        display: none !important;
    }
  
    /* AUTH-105671	
    #enrollmentLink {
        display: none !important;
    }
    */
}
#ReactLoginWidgetApp .form-control__input.show-hide button:focus {
  margin: 0 !important; 
}
#ReactLoginWidgetApp .form-control__input.show-hide button {
    padding: 0 !important;
}
.ghp-login-banner .body.selectorText {
    margin-bottom: 1rem;
}
.ghpBanner .cards-container .m-card-square {
    border: 1px solid #ccccd2;
    box-shadow: none;            
}
.image .ecmglobal-image figure.inline-image {
	 margin: 0;
}
.ghp-login-banner .banner-box,.ghp-login-banner .layered-row .login-widget-wrapper {
	border-top: none !important;
}


.banner .cards-container :where(.component-offset-12,.component-offset-16,.row,.sub-grid) {    row-gap: 0 !important;}@media screen and (min-width: 42rem) and (max-width: 65.9375rem) {    .banner .cards-container :where(.component-offset-12,.component-offset-16,.row,.sub-grid) {        row-gap: 0 !important;    }}@media only screen and (max-width: 66rem) {    .banner .cards-container :where(.component-offset-12,.component-offset-16,.row,.sub-grid) {        row-gap: 0 !important;    }}

.text:has(.fdicContainer) {
  border-bottom: 1px solid #CDD1E2;
}


.infoComp .ratio-phone-vertical {
    aspect-ratio: 9 / 17;
    padding-bottom: 188.2352941176%;
}

.infoComp .iconlist-items {
    padding-left: 0;
}

@media only screen and (min-width: 66rem) {
    .infoComp .left::after {
        content: "";
        display: block;
        height: 100%;
        width: .0625rem;
        background-color: #ccccd2;
        position: absolute;
        right: -1rem;
    }
    .infoComp .right {
        padding-left: 1rem;
    }
}

.dto-crossSell-Component .icon-container {
  display: flex;
  flex-direction: row
}
.dto-crossSell-Component .content-container {
  display: flex
}
.dto-crossSell-Component .line {
  width: 2rem;
  height: .25rem;
  background-color: #235ae4
}
.dto-crossSell-Component .container-block.content {
  border-radius: 1rem
}
.dto-crossSell-Component .content[class*=border-] {
  border-style: solid;
  border-width: 1px
} 

.cards-container .horizontal .card-img-sm img{
min-width:100% !important;
    max-width:unset;
}  